backtrader==1.9.78.123
matplotlib==3.9.0
numpy==2.0.0
packaging==24.1
pandas
yfinance
requests
flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Bcrypt
psycopg2-binary
confluent-kafka
apache-airflow
mlflow
psycopg2
python-dotenv
ccxt
yfinance
flask_cors
safetensors
torch>=2.1
lightning>=2.0
gluonts~=0.14.3
# numpy~=1.26.0
einops==0.7.*
jaxtyping~=0.2.24
python-dotenv
hydra-core==1.3
huggingface_hub>=0.23.0
safetensors
jax[cpu]
Flask-Migrate

