backtrader==1.9.78.123
matplotlib==3.9.0
numpy==2.0.0
packaging==24.1
pandas
yfinance
requests
flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Bcrypt
psycopg2-binary
confluent-kafka
apache-airflow
mlflow
psycopg2
python-dotenv
ccxt
yfinance
flask_cors
Flask-Migrate